/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #00aa00;
  --secondary-color: #006900;
  --link-color: #00ff66;
  --btn-hover-color: #2b50c7;
  --lg-heading: #0f6;
  --text-content: #00a500;
  --fixed-header-height: 4.5rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #333;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--lg-heading);
}

/* ==== VANTA.JS  ====  */
#vanta-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

/* ==== CONTAINER ==== */
.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h2 {
  font-size: 28px;
  color: var(--primary-color);
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
  color: var(--primary-color);
}
.nav_menu_item .nav_menu_link {
  font-size: 22px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}
/* ====  WRAPPER ==== */

#cards {
  padding-top: none;
}

.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 2.5rem;
  margin-bottom: 5rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem;
}
.grid-item-1 {
  padding: 0 1.5rem 0 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  color: var(--secondary-color);
}
.main-heading span {
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: var(--primary-color);
}
#flavour-text {
  font-size: 19px;
  line-height: 28px;
  color: var(--primary-color);
  text-align: center;
}
.splash-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: var(--primary-color);
  text-align: center;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}

button {
  position: relative;
  font-weight: 600;
  height: 40px;
  padding: 12px 20px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
}
button:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 7px;
  left: 7px;
  height: 100%;
  background-color: #0e0;
  z-index: -1;
  transition: all 0.35s;
  border-radius: inherit;
}
button:hover:after {
  top: 0px;
  left: 0px;
}

.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  margin-right: 10px;
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
  padding-top: 2rem;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}
.grid-col-item {
  height: 100%;
  padding: 0.5rem;
  border: 1px solid #161616; /* border style and color */
  border-radius: 10px; /* rounded corners */
  box-shadow: 5px 10px #2c2c2c;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #00a500;
  line-height: 25px;
  font-size: 15.5px;
}
footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;
  margin-top: 8rem;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

.hidden {
  display: none;
}

.wb-body {
  background: #111;
  padding: 20px;
}

.modal-head {
  color: var(--primary-color);
}

.projTitle {
  margin-top: 1.5rem;
}

/* ==== CONTACT FORM  ====*/

.contact {
  margin-top: 2rem;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: bold;
  color: #00aa00;
  font-size: 1rem;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 1rem;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0.5rem;
  border-radius: 5px;
  border: none;
  border: 2px outset #150526;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: #333;
  font-family: "VT323", sans-serif;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid #00aa00;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #00aa00;
  border: 2px solid #014023;
  cursor: pointer;
}

/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #2c2c2c;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #000;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 1rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    display: flex;
    flex-direction: column;
  }
  .grid-item-1 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}
